@font-face {
    font-family: gothic;
    src: url(../res/fonts/LeagueGothic-Regular-VariableFont_wdth.ttf);
}

html {
    padding: 0;
    margin: 0;
    background-color: #2A2A2A;
    color: #e6e6e6;
    font-family: gothic, monospace;
    letter-spacing: 4px;
}

body {
    margin: 0;
    padding: 0;
}

/* Header stuff */

header {
    text-align: center;
}

header h1 {
    font-size: 30pt;
}

#banner-logo {
    width: 60vw;
    height: auto;
    margin-top: 2vh;
}

/* Content panel */

#content
{
    width: 80%;
    align-content: center;
    text-align: center;
    margin: auto;
}

#content section {
    margin-top: 100px;
}

#content h2 {
    font-size: 25pt;
    margin: 0;
}

#content hr {
    height: 5px;
    border: none;
    background-color: #e6e6e6;
    margin-bottom: 50px;
}

/* COMPANIES Panel */

#companies_container {
    display: grid;
}

#companies_container div {
    aspect-ratio: 1;
    place-self: center;
    width: 35vw;
}

#companies_container {
    grid-template-columns: repeat(2, 1fr);
}
#companies_container div:nth-child(3) {
    grid-column: 1/-1;
}

#companies_container a {
    width: 100%;
}

#companies_container img {
    height: auto;
    width: 100%;
}

#companies_container div {
    transition: transform 500ms;
}

#companies_container div:hover {
    transform: scale(1.2);
}

#companies_container div:active {
    transform: scale(1.2);
}

/* ABOUT Panel */

#about p {
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
}

/* FOOTER */

footer {
    text-align: center;
    background-color: #434343;
    margin: 0px;
    padding: 1px;
    letter-spacing: 1px;
}

footer a {
    color: #996a4a;
} footer a:visited {
    color: #996a4a;
}

/* DESKTOP SPECIFIC STYLES */

@media (min-width: 500px) {
    #companies_container div {
        width: 25vw;
    }
}